//- doctype html
//- html
head
	link(rel="stylesheet",type="text/css",href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="stylesheet",type="text/css",href=".../public/main.css")


body
	+loginButtons
	+header
	.background
	if currentUser
		+currentUser
	else
		+visitor
	+navbar
	+buttons
	+gameboard
	





	script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="../main.js")
		


template(name='header')
	header.page-header
		h1
			| Welcome to SPHINX
			small The Trivia RPG Work-In-Progress
		
template(name='navbar')
	ul.nav.nav-pills.list-group
		li.list-group-item: a(href="{{pathFor 'characters'}}") Character Info
		li.list-group-item: a(href="{{pathFor 'monsters'}}") Monsters
		li.list-group-item: a(href="{{pathFor 'locations'}}") Locations
		li.list-group-item: a(href="{{pathFor 'about'}}") About
		li.list-group-item: a(href="{{pathFor 'profile'}}") Profile
		li.list-group-item: a(href="{{pathFor 'admin'}}") Admin Page
		li.list-group-item: a(href="{{pathFor 'trivia'}}") Trivia Insertion



template(name='buttons')
	.button-start
		button.btn.btn-success.start-game(type='button')  Start Game
		button.btn.btn-warning.generate(type='button') Start The Level
		button.btn.btn-reset.btn-danger.reset-game(type='button') Reset Game Session
		//- button.btn.test(type='button') TEST
		//- button.btn.btn-danger.nuke(type='button') Enemy Nuke
		//- button.btn.btn-danger.self-destruct(type='button') Player Nuke
		.character-buttons
			button.btn-info.character.btn-kanir(type='button') The Knight
			button.btn-info.character.btn-devaio(type='button') The Wizard
			button.btn-info.character.btn-shadow(type='button') The Rogue
template(name="gameboard")
	.game-area.row
		.col-xs-2.character-display.col-xs-offset-1
		.col-xs-6.play
			.question-area
				.placement
		.col-xs-2.encounter-string
template(name="currentUser")
	.user-name.row
		.col-xs-3.user-display.col-xs-offset-9 Hello, #{currentUser.username}!

template(name="visitor")
	.user-name.row
		.col-xs-3.visitor-display.col-xs-offset-9 Welcome Visitor! Please have a look around and sign up to start the fun!!

template(name="about")
	h1 About SPHINX
		p SPHINX is the ongoing project of RefactorU student Sean Manhertz during his ten weeks at the program
	
template(name="monsters")
	
	.game-information
		button.btn.btn-warning.game-info Close This Field
		p Goblins Trolls and Ogres oh my
template(name="characters")
	
	.game-information
		button.btn.btn-warning.game-info Close This Field
		p Kanir Devaio Shadow
template(name="locations")
	
	.game-information
		button.btn.btn-warning.game-info Close This Field
		p Forest of Tymierl
template(name="home")
	+buttons
	+gameboard

template(name="admin")
	+loginButtons
	if isAdminUser
		+accountsAdmin
	else
		p Must be admin to view



template(name="user_profile")
	h4 Username
		p #{currentUser.username}
	h4 Current Character
		p #{character}
		p #{currentCharacter}

template(name="item")
	span: a(href="#{profileUrl}") #{author} 

template(name="profile")
	h4 Username
		p #{currentUser.username}
	h4 Current Character
		p.character-profile  #{character}

template(name="submitTrivia")
	h1 Add your new trivia questions below
		.addTrivia
			input.new-trivia.new_title(type="text",placeholder="Please Enter a Title in camelCase")

			input.new-trivia.new_question(type="text",placeholder="Please insert a question")
			
			input.new-trivia.difficulty(type="number",placeholder="Difficulty")
			
			input.new-trivia.correct(type="text",placeholder="Correct Answer")
			
			input.new-trivia.wrong1(type="text",placeholder="Wrong")

			input.new-trivia.wrong2(type="text",placeholder="Wrong")

			input.new-trivia.wrong3(type="text",placeholder="Wrong")

			input.btn.btn-primary.add(type="button", value="Add to Database")

			input.new-trivia.test_val(type="text",placeholder="Please Test")
			
			input.btn.btn-warning.test-btn(type="button", value="Test")
