//- doctype html
//- html
head
	//- link(rel="stylesheet",type="text/css",href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
	//- link(rel="stylesheet",type="text/css",href=".../public/main.css")


body
	+container
	.background
	+header
	+loginButtons
	+navbar
	+modals
	+buttons
	+gameboard
	+revealChat
	+mainBox
	+leaderboard





	//- script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
	//- script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	//- script(src="../main.js")
		

template(name='container')
	.container
template(name='header')
	header.page-header
		h1
			| Welcome to SPHINX
			small The Trivia RPG Work-In-Progress
			if currentUser
				+currentUser
			else
				+visitor
		
template(name='navbar')
	ul.nav.nav-pills.list-group
		li.list-group-item.charModal: a(href="{{pathFor 'charactersModal'}}") Character Info
		li.list-group-item.monModal: a(href="{{pathFor 'monstersModal'}}") Monsters
		//- li.list-group-item.locModal: a(href="{{pathFor 'locationModal'}}") Locations
		li.list-group-item.aboModal: a(href="{{pathFor 'aboutModal'}}") About
		li.list-group-item.proModal: a(href="{{pathFor 'profileModal'}}") Profile
		li.list-group-item.adModal: a(href="{{pathFor 'adminModal'}}") Admin Page
		li.list-group-item.subModal: a(href="{{pathFor 'submitModal'}}") Trivia Insertion



template(name='buttons')
	.button-start
		button.btn.btn-success.start-game.grow(type='button')  Start Game
		button.btn.btn-warning.generate.buzz(type='button') Start The Level
		button.btn.btn-reset.btn-danger.reset-game.buzz(type='button') Reset Game Session
		//- button.btn.test(type='button') TEST
		//- button.btn.btn-danger.nuke(type='button') Enemy Nuke
		//- button.btn.btn-danger.self-destruct(type='button') Player Nuke
		.character-buttons
			button.btn-info.character.btn-kanir.hover-shadow(type='button') The Knight
			button.btn-info.character.btn-devaio.hover-shadow(type='button') The Wizard
			button.btn-info.character.btn-shadow.hover-shadow(type='button') The Rogue
template(name="gameboard")
	.game-area.row
		+character_display
		+play_area
		+encounter_string




		//- .col-xs-2.character-display.col-xs-offset-1
		//- .col-xs-6.play
		//- 	.question-area
		//- 		.placement
		//- .col-xs-2.encounter-string

template(name="character_display")
	.col-xs-2.character-display.col-xs-offset-1

template(name="play_area")
	.col-xs-6.play
			.question-area
				.placement

template(name="encounter_string")
	.col-xs-2.encounter-string

template(name="currentUser")
	.user-name.row
		.col-xs-3.user-display.col-xs-offset-9 Hello, #{currentUser.username}!

template(name="visitor")
	.user-name.row
		.col-xs-3.visitor-display.col-xs-offset-9 Welcome Visitor! Please have a look around and sign up to start the fun!!

template(name="about")
	h1 About SPHINX
		p SPHINX is the ongoing project of RefactorU student Sean Manhertz during his ten weeks at the program
	
template(name="monsters")
	
	.game-information
		button.btn.btn-warning.game-info Close This Field
		p Goblins Trolls and Ogres oh my
template(name="characters")
	
	.game-information
		button.btn.btn-warning.game-info Close This Field
		p Kanir Devaio Shadow
template(name="locations")
	
	.game-information
		button.btn.btn-warning.game-info Close This Field
		p Forest of Tymierl
template(name="home")
	+container
	.background
	+header
	+loginButtons(align='right')
	if currentUser
		+currentUser
	else
		+visitor
	+navbar
	+modals
	+buttons
	+gameboard
	+revealChat
	+mainBox
	+leaderboard

template(name="admin")
	if isAdminUser
		+accountsAdmin
	else
		p Must be admin to view



template(name="user_profile")
	h1 Hello World Sean!
	h4 Username
		p #{username}
	h4 Current Character
		p #{character}
		p #{currentCharacter}

template(name="item")
	span: a(href="#{profileUrl}") #{author} 

template(name="profile")
	h4 Username
		p #{currentUser.username}
	h4 Current Character
		p.character-profile  #{character}
	h4 Role: #{currentUser.roles}
	h4 Badges: #{currentUser.badges}
	h4 # of Monsters Defeated: #{currentUser.monstersDefeated}
	each user
		a(href="{{pathFor 'user_profile'}}") Accounts

template(name="submitTrivia")
	h1 Add your new trivia questions below
		.addTrivia
			input.new-trivia.new_title(type="text",placeholder="Please Enter a Title in camelCase")

			input.new-trivia.new_question(type="text",placeholder="Please insert a question")
			
			input.new-trivia.difficulty(type="number",placeholder="Difficulty")
			
			input.new-trivia.correct(type="text",placeholder="Correct Answer")
			
			input.new-trivia.wrong1(type="text",placeholder="Wrong")

			input.new-trivia.wrong2(type="text",placeholder="Wrong")

			input.new-trivia.wrong3(type="text",placeholder="Wrong")

			input.btn.btn-primary.add(type="button", value="Add to Database")

template(name="modals")
	+charactersModal
	+charactersItem
	+profileModal
	+profileItem
	+submitModal
	+submitItem
	+aboutModal
	+aboutItem
	+adminModal
	+adminItem
	+monstersModal
	+monstersItem
	//- +locationModal
	//- +locationItem
//- template(name='projectImageModal')
//- 	#projectImageModal.modal.fade.in.col-xs-12(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
//- 		.modal-dialog
//- 			.modal-content
//- 				.modal-header
//- 					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
//- 					h4.modal-title Big Image
//- 				.modal-body
//- 					+submitTrivia
//- template(name='projectImageItem')
//- 	input.open-modal(type='button',value='Show modal.')
